.academic-section {
  padding: 80px 10%;
  background: #f9fafb;
  text-align: center;
}

.academic-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.academic-subtitle {
  color: #666;
  max-width: 700px;
  margin: 0 auto 50px;
}

/* Stats */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 60px;
}

.stat-box {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.stat-box h3 {
  font-size: 28px;
  color: #0a244a; /* أزرق غامق يناسب الكلية */
}

/* Programs */
.programs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.program-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
  text-align: left;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  position: relative;
  border: 1px solid #eee;
}

.program-card h4 {
  margin-bottom: 5px;
  color: #0a244a;
  font-weight: 600;
}

.program-card small {
  color: #777;
}

.program-card p {
  margin: 15px 0;
  color: #555;
}

.program-card ul {
  padding-left: 18px;
  color: #444;
}

/* Button */
.program-card button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #0a244a;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.program-card button:hover {
  background: #0a244a;
  color: white;
}

/* Popular badge */
.popular {
  border: 2px solid #0a244a;
}

.badge {
  position: absolute;
  top: -12px;
  right: 20px;
  background: #0a244a;
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}
/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 30px;
  width: 450px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: left;
  animation: pop 0.2s ease-out;
}

.modal-box h3 {
  margin-bottom: 15px;
  color: #0a244a;
}

.modal-box ul {
  margin-bottom: 20px;
  padding-left: 18px;
}

.close-btn {
  padding: 10px 18px;
  border: none;
  background: #0a244a;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

@keyframes pop {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
