.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  padding: 0 80px;
}

.overlay h1 {
  font-size: 48px;
  line-height: 1.3;
}

.overlay span {
  color: #4da3ff;
}

.overlay p {
  max-width: 650px;
  font-size: 18px;
  margin: 20px 0 30px;
}

.hero-actions {
  display: flex;
  gap: 15px;
}

.primary-btn, .secondary-btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  transition: 0.3s;
}

.primary-btn {
  background: #1e6fff;
  color: #fff;
}

.primary-btn:hover {
  background: #1555cc;
}

.secondary-btn {
  background: #f5f5f5;
  color: #073267;
  border: 1px solid #073267;
}

.secondary-btn:hover {
  background: #e0e0e0;
}
section:first-of-type {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
